[submodule "node_modules/.cache/gh-pages/https!github.com!diegohenriquecode!diegohenriquecode.github.io.git"]
	path = node_modules/.cache/gh-pages/https!github.com!diegohenriquecode!diegohenriquecode.github.io.git
	url = https://github.com/diegohenriquecode/diegohenriquecode.github.io.git
